<app-container>
  <div *ngIf="loading; else completed" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <ng-template #completed>
    <div class="card" style="min-width: 300px">
      <h2 class="card-header">Actualizar punto de interés</h2>
      <div class="card-body">
        <app-update-point-of-interest-form
          *ngIf="!errorMessage"
          [cityId]="cityId"
          [pointOfInterest]="
            pointOfInterest!
          "></app-update-point-of-interest-form>
        <p *ngIf="errorMessage?.length !== 0" class="text-danger">
          {{ errorMessage }}
        </p>
      </div>
    </div>
  </ng-template>
</app-container>
